<main>
  <nav class="navbar navbar-expand-lg bg-gradient">
    <button
      class="btn d-md-none d-block close-btn px-1 py-0 text-white mx-3"
      (click)="toggleSidebar()"
      [ngClass]="{ active_sidebarButton: sidebarActive }"
    >
      <i class="fas fa-bars" style="color: #41b9af"></i>
    </button>
    <span class="navbar-brand text-white"
      >Sistema de gestión de biblioteca</span
    >
  </nav>

  <div class="row">
    <div
      class="col-sm-2 p-0"
      id="side_nav"
      [ngClass]="{ active: sidebarActive }"
    >
      <app-sidebar [sidebarActive]="sidebarActive"> </app-sidebar>
    </div>

    <div class="col-sm-10 p-0 bg-light text-white">
      <router-outlet> </router-outlet>
    </div>
  </div>
</main>
