<main>
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary bg-gradient">
    <button
      class="btn d-md-none d-block close-btn px-1 py-0 text-white mx-3"
      (click)="toggleSidebar()"
      [ngClass]="{ active_sidebarButton: sidebarActive }"
    >
      <i class="fas fa-bars" style="color: #41b9af"></i>
    </button>
    <span class="navbar-brand text-white"
      >Sistema de gestión de biblioteca</span
    >
  </nav>

  <div class="row">
    <div
      [ngClass]="{ active: sidebarActive }"
      class="col-sm-2 pt-3 pb-4 px-1 bg-info bg-dark sidebarCustom"
      id="side_nav"
    >
      <div class="header-box px-2 pt-3 pb-4">
        <h1 class="fs-4">
          <span class="bg-white text-dark rounded shadow px-3">AM</span>
          <span class="text-white px-3">Menú</span>
        </h1>
      </div>
      <ul class="list-unstyled px-2 sidebarCustom">
        <li
          *ngFor="let item of menuItems; let i = index"
          (click)="setActive(i)"
          [class.active]="activeIndex === i"
          class=""
        >
          <a href="#" class="text-decoration-none px-3 py-2 d-block">
            <i [ngClass]="item.icon"></i> {{ item.label }}
          </a>
        </li>
      </ul>
      <hr class="hr-color mx-3" />
    </div>

    <div class="col-sm-10 p-0 bg-light text-white">
      <router-outlet> </router-outlet>
    </div>
  </div>
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Launch demo modal
  </button>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">...</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</main>
