:host {
  height: 100%;
  width: 100%;
}
#side_nav {
  height: 100%;
}
.header-box {
  display: flex;
  justify-content: center;
}
hr.hr-color {
  background-color: rgb(241, 242, 242);
  height: 2.5px;
}

.sidebarCustom li.active {
  background: #eee;
  border-radius: 8px;
}

.sidebarCustom li.active a,
.sidebarCustom li.active a:hover {
  color: #000;
}

.sidebarCustom li a:hover {
  color: grey;
}
.sidebarCustom li a {
  color: #fff;
}
