<div class="d-flex align-items-center justify-content-center" id="listado">
  <div class="col-11" id="contenedor-listado-paginacion">
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <form class="d-flex">
          <input
            class="form-control me-2"
            placeholder="Nombre libro"
            [formControl]="searchText"
          />
          <button
            class="btn btn-outline-primary"
            type="button"
            (click)="updatePagination()"
          >
            Buscar
          </button>
        </form>
        <button class="btn btn-primary" [routerLink]="['/libro/alta']">
          Nuevo Libro
        </button>
      </div>
    </nav>
    <div class="col-11 table-responsive" id="contenedor-listado">
      <table class="table table-hover fs-5 tableCustom">
        <thead class="table-primary">
          <tr>
            <th class="col-2"># ID</th>
            <th class="col-4">Título</th>
            <th class="col-2">ISBN</th>
            <th class="col-2">Cantidad de Ejemplares</th>

            <th class="col-1 text-center">Editar</th>
            <th class="col-1 text-center">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let libro of paginatedLibros">
            <td class="clickeable" (click)="openScrollableContent(libro)">
              {{ libro.id }}
            </td>
            <td>{{ libro.titulo }}</td>
            <td>{{ libro.isbn }}</td>
            <td>{{ libro.codigoEjemplarActual }}</td>
            <td class="text-center">
              <button
                class="btn btn-primary"
                *ngIf="libro.id"
                [routerLink]="['/libro/actualizar', libro.id]"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
            <td class="text-center">
              <button
                type="button"
                class="btn btn-danger"
                *ngIf="libro.id"
                (click)="openDeleteModal(libro.id, libro.titulo)"
                [disabled]="libro.codigoEjemplarActual != 0"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <nav>
      <ul class="pagination pagination-lg">
        <li class="page-item">
          <button
            class="page-link"
            (click)="previousPage()"
            [disabled]="currentPage === 1"
          >
            Anterior
          </button>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="setPage(1)">1</a>
        </li>
        <li class="page-item">
          <a class="page-link">{{ currentPage }}</a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="setPage(totalPages)">{{
            totalPages
          }}</a>
        </li>
        <li class="page-item">
          <button
            class="page-link"
            (click)="nextPage()"
            [disabled]="currentPage === totalPages"
          >
            Siguiente
          </button>
        </li>
        <button
          type="button"
          class="btn"
          id="popover"
          popoverTitle="Borrar Libro"
          [autoClose]="true"
          ngbPopover="Para borrar un Libro, este no debe tener ningún Ejemplar."
          #popover="ngbPopover"
          (shown)="onPopoverShow()"
          (hidden)="onPopoverHide()"
        >
          <i
            [ngClass]="{ 'hover-active': isPopoverActive }"
            class="fa-solid fa-circle-exclamation"
            style="color: #cfe2ff; font-size: 50px"
          ></i>
        </button>
      </ul>
    </nav>
  </div>
  <app-modal-delete
    [messageConfirmation]="mensajeModal"
    [crud]="'Libro'"
    (confirmacionEvento)="handleDelete($event)"
  ></app-modal-delete>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ tituloSeleccionado }}</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>
  <div class="modal-body">
    <h5>Descripción</h5>
    <p>
      {{ descripcionSeleccionada }}
    </p>
    <hr />
    <h5>Autor</h5>
    <p>{{ autorSeleccionado }}</p>
    <hr />
    <h5>Editorial</h5>
    <p>{{ editorialSeleccionada }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">
      Cerrar
    </button>
  </div>
</ng-template>
